* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

body {
  background: #EEF0EB;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
  margin: 80px auto;
  padding: 25px;
  background: #F4F9E9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form h2{
  text-align: center;
  color: #284B63;
}

input {
  padding: 10px;
  border: 1px solid #B4B8AB;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #284B63;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #284B63;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #1d374a;
}

.btn-ppal{
  width: 300px;
  align-self: center;
}

a {
  text-align: center;
  color: #284B63;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.dashboard {
  max-width: 700px;
  margin: 40px auto;
  background: #F4F9E9;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard h2 {
  text-align: center;
  color: #284B63;
  margin-bottom: 10px;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEF0EB;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  transition: 0.2s;
}

.tarea:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.tarea button {
  background: #284B63;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}

.tarea button:hover {
  background: #c53d3d;
}

.error{
  color: #c53d3d;
  text-align: center;
}


.about {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  background: #F4F9E9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about h2 {
  text-align: center;
  color: #284B63;
  margin-bottom: 20px;
}

.about h3 {
  color: #284B63;
  margin-top: 15px;
  margin-bottom: 8px;
}

.about p {
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

.about ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.about li {
  margin-bottom: 5px;
  color: #333;
}
